<h2>Should this image be flagged?</h2>

<img src="<%= post.image_url %>">

<input type="radio" name="flagged" value="yes", class="required">Yes</input>
<input type="radio" name="flagged" value="no", class="required">No</input>